#hero{
	display:flex;
	justify-content:center;
	align-items:center;
}

.left img{
	margin-left:0px;
	width:100%;
}

.right{
	margin:0px;
	padding:40px;
	display:flex;
	flex-direction:column;
}

.right h1{
	text-align:center;
	margin:0px;
}

.right p{
	text-align:center;
}

.right button{
	padding:10px;
	color:white;
	background-color:red;
	border-radius:5px;
}